$container: 1300px;
$layout-margin: 4.86vw;
$layout-margin-mob: 2vw;
$base-color: #333;
$accent-color: #bdbdbd;
$hover-color: #fff;
$active-color: rgb(0, 170, 252);
$disabled: rgba(51, 51, 51, 0.37);
$bg-color: #fff;
$contrast-color: #263238;
$border: 1px solid $disabled;
$brr: 4px;
//$brrmin: ;
//$brrmax: ;
$ind: 20px; // Indentation
$indmin: 10px;
//$indmax: ;
$gap: 20px;
$gapmin: 10px;
//$gapmax: ;
$transition: .3s ease-out;

// Colors

$white: #fff;
$aquamarine: #66CCC7;
$lightblue: #98BBDD;
$lightpurple: #E2A7C2;
$darkblue: #211F5C;
$green: #6C7E2A;
$lightgreen: #E6E4B3;
$black: #1F150A;
$orange: #FFB02E;
$lightorange: #FFB841;
$lightyellow: #F5FF66;
$lightbrown: #9F8170;
$darkgrey: #4C514A;