$container: 1300px;
$base-color: #333;
$accent-color: #bdbdbd;
$hover-color: #fff;
$active-color: #00aafc;
$disabled: rgba(51, 51, 51, 0.37);
$bg-color: #fff;
$contrast-color: #263238;
$border: 1px solid $disabled;
$brr: 4px;
//$brrmin: ;
//$brrmax: ;
$ind: 20px; // Indentation
$indmin: 10px;
//$indmax: ;
//$gap: ;
//$gapmin: ;
//$gapmax: ;
$transition: .3s ease-out;