header.header
        a.logo
            h1 tezis<sup style='font-weight: 200;'>components</sup>
        nav.header-menu
            ul.header-menu__list
                li.header-menu__item <a href='##'>Главная</a>
                li.header-menu__item <a href='##'>Контакты</a>
        include ../../components/burger/burger