header.header
        a.logo
            div UI.pack.1.0
        nav.header-menu
            ul.header-menu__list
                li.header-menu__item <a href="##">Главная</a>
                li.header-menu__item <a href="##">Контакты</a>
        include ../../components/burger/burger