header.header
    a.logo
        h1 UI<sup style='font-weight: 200;'>pack</sup>
        .logo__subtitle from tezis.digital
    nav.header-menu
        ul.header-menu__list
            li.header-menu__item <a href='##'>Главная</a>
            li.header-menu__item <a href='##'>Контакты</a>
    include ../../components/burger/burger