.demo
    .demo__col.col
        // include ../../components/slider/slider
        // include ../../components/slider/slide-beyond
        // include ../../components/show-more/show-more
        // include ../../components/accordion/accordion
        // include ../../components/dropdown-lang/dropdown-lang
        // include ../../components/form/form
        // include ../../components/table/table
        // include ../../components/tabs-tags/tabs-tags
        // h1  Текст заголовка
        // p Новый текст мне надо, чтобы он перенесся, я Джек Торренс, я пишу один и тот же текст. Новый текст мне надо, чтобы он перенесся, я Джек Торренс, я пишу <a href="./page.html">один</a> и тот же текст. Новый текст мне надо, чтобы он перенесся, я Джек Торренс, я пишу один и тот же текст.
        // h1 Блок с картинкой
        // include ../../components/img/img
        // h2 Список готовых модулей
        // ul
        //    li.list__item <a href="/container-beyond.html">Контейнер, выходящий за границу</a>
        //    li.list__item Текст 2
        //    li.list__item Текст 3
        // button(data-modal) Модалка
        // a(href="#")
        //    button Текст
        // a(href="##") Текст
        // h3 Заголовок 3
        // h6 Заголовок 6
        // h5 Это кнопка в активном состоянии
        // button.button__active Текст