.demo
    .row__content
        include ../../components/circle/circle
        h1 Компонент с красивым круглым анимированным текстом
        h2 Третья колонка
        p Параграф
    .demo__col.col
        include ../../components/slider/slider
        include ../../components/slider/slide-beyond
        h1 Заголовок первого уровня
        h2 Заголовок второго уровня
        h3 Заголовок третьего уровня
        h4 Заголовок четвертого уровня
        h5 Заголовок пятого уровня
        h6 Заголовок шестого уровня
        h2 Текстовый блок
        p Новый текст мне надо, чтобы он перенесся, я Джек Торренс, я пишу один и тот же текст. Новый текст мне надо, чтобы он перенесся, я Джек Торренс, я пишу один и тот же текст. Новый текст мне надо, чтобы он перенесся, я Джек Торренс, я пишу один и тот же текст.
        a(href='##') Ссылка
        h3 Маркированный список
        ul
            li.list__item Пункт 1
            li.list__item Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum cumque deserunt dicta dolore, dolorum excepturi, facilis harum, hic incidunt magnam minima mollitia non quo.
        h2 Кнопка
        include ../../components/button/button
        h3 Обычная картинка
        img(data-src='img/img.webp' data-alt='Картинка')
        h3 Картинка с заданным размером и сжатием object-fit
        .img
            img(data-src='img/img.webp' data-alt='Картинка')
        h3 Простая галерея
        .row
            .img.img__empty
                img(data-src='img/img.webp' data-alt='Картинка')
            .img.img__empty
                img(data-src='img/img.webp' data-alt='Картинка')
            .img.img__empty
                img(data-src='img/img.webp' data-alt='Картинка')
        h2 Галерея с лайтбоксами на fancybox
        include ../../components/gallery/gallery
        h2 Флекс-галерея
        include ../../components/flex-gallery/flex-gallery
        h3 Шаблон формы
        include ../../components/form/form
        h2 Таблицы
        include ../../components/table/table
        h3 Выпадающий список
        include ../../components/dropdown/dropdown
        h3 Показать больше
        include ../../components/show-more/show-more
        h3 Аккордеон
        include ../../components/accordion/accordion
        h3 Табы
        include ../../components/tabs/tabs
        h3 Табы в виде тегов
        p.disabled // Можно переделать под облако тегов
        include ../../components/tabs-tags/tabs-tags