.dropdown
    p.dropdown__parent#dropdown-burger Материнский пункт
    .dropdown__items#dropdown-items
        div.dropdown__item
            a(href='#') Пункт
        div.dropdown__item
            a(href='#') Другой