.action-btns
	.action-btns__inner
		.action-btns__button.action-btns-up
			a(href="#up")
				button(type="button")
					+sprite("arrow", "img/sprites/sprite.svg#arrow")
		.action-btns__button.action-btns-call
			a(href="#" target="_blank")
				button(type="button")
					+sprite("phone", "img/sprites/sprite.svg#phone")