.slider.swiper#slider
    .slider-wrapper.swiper-wrapper
        .slider-slide.swiper-slide
            img.swiper-lazy(src="img/img.jpg")
            <div class="swiper-lazy-preloader"></div>
        .slider-slide.swiper-slide
            img(src="img/img.jpg")
        .slider-slide.swiper-slide
            img(src="img/img.jpg")
        .slider-slide.swiper-slide
            img(src="img/img.jpg")
    .slider-navigation
        .slider-pagination.swiper-pagination#slider-pagination
        .slider-button-prev.swiper-button-prev
        .slider-button-next.swiper-button-next