.slide-beyond.swiper#slide-beyond
    .slide-beyond-wrapper.swiper-wrapper
        .slide-beyond-slide.swiper-slide
            img.swiper-lazy(data-src='img/img.jpg')
            <div class='swiper-lazy-preloader'></div>
        .slide-beyond-slide.swiper-slide
            img(data-src='img/img.jpg')
        .slide-beyond-slide.swiper-slide
            img(data-src='img/img.jpg')
        .slide-beyond-slide.swiper-slide
            img(data-src='img/img.jpg')
        .slide-beyond-slide.swiper-slide
            img(data-src='img/img.jpg')
        .slide-beyond-slide.swiper-slide
            img(data-src='img/img.jpg')
        .slide-beyond-slide.swiper-slide
            img(data-src='img/img.jpg')
        .slide-beyond-slide.swiper-slide
            img(data-src='img/img.jpg')
    .slide-beyond-scrollbar.swiper-scrollbar