.slider.swiper#slider
    .slider-wrapper.swiper-wrapper
        .slider-slide.swiper-slide
            img(src='img/img.webp')
        .slider-slide.swiper-slide
            img(src='img/img.webp')
        .slider-slide.swiper-slide
            img(src='img/img.webp')
        .slider-slide.swiper-slide
            img(src='img/img.webp')
    .slider-navigation
        .slider-pagination.swiper-pagination#slider-pagination
        .slider-button-prev.swiper-button-prev
        .slider-button-next.swiper-button-next