button {
  display: block;
  min-width: 200px;
  border: none;
  padding: $ind $ind;
  transition: all 0.3s ease-out;
  appearance: none;
  cursor: pointer;
  background-color: $accent-color;
  color: $base-color;
  font-weight: inherit;
  margin-block: $ind $ind;

  &:hover {
    color: $base-color;
    background-color: $hover-color;
    border-color: $accent-color;
  }

  &:active {
    background-color: $active-color;
    border-color: transparent;
  }

  &:focus {
    box-shadow: 0 0 0 3px rgb(0 170 252 / 52%);
    outline: none;

    &:hover {
      background-color: $active-color;
      color: #fff;
      border-color: transparent;
    }
  }

  &.active {
    border-color: transparent;
    background-color: $active-color;
    color: #fff;

    &:hover {
      background-color: #0c9ade;
    }
  }
}

form {
  button {
    margin-block: 0;
  }
}

@media screen and (max-width: 425px) {
  button {
    min-width: 100%;
  }
}
