.drag-n-drop
    .drag-n-drop__wrapper
        .drag-n-drop__row
            .drag-n-drop__title.start Начать
            .drag-n-drop__title.progress В процессе
            .drag-n-drop__title.done Готово
        .drag-n-drop__row
            .drag-n-drop__placeholder
                .drag-n-drop__item(draggable='true') Перетащи меня
            .drag-n-drop__placeholder
            .drag-n-drop__placeholder