.dropdown-lang
    input.dropdown-lang__parent(type='text' placeholder='ru' readonly)
    .dropdown-lang__options.change-lang
        p.dropdown-lang__item(data-text='en') en
        p.dropdown-lang__item(data-text='ru') ru