extends ../layouts/default

block variables
    - const title = 'Шаблон страницы';

block header
    include ../../blocks/modules/header/header

block content
    include ../../blocks/modules/main/main

block footer
    include ../../blocks/modules/footer/footer

block scripts
    script(src='js/main.js')