section.accordion
    .accordion__inner
        .accordion__tabs
            details.accordion__tab
                summary.accordion__heading
                    div Значение таба, длинный текст
                    +sprite("accordion__icon", "img/sprites/sprite.svg#arrow")
                p.accordion__content Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium alias aliquam distinctio dolores dolorum ducimus eaque eligendi eos illo incidunt, ipsa iure laudantium magni minima minus molestiae molestias necessitatibus, neque nesciunt nostrum nulla omnis perferendis possimus quae quas quasi recusandae rem repellat repellendus reprehenderit similique tempora unde veniam veritatis?
            details.accordion__tab
                summary.accordion__heading
                    div Значение таба, длинный текст
                    +sprite("accordion__icon", "img/sprites/sprite.svg#arrow")
                p.accordion__content Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium alias aliquam distinctio dolores dolorum ducimus eaque eligendi eos illo incidunt, ipsa iure laudantium magni minima minus molestiae molestias necessitatibus, neque nesciunt nostrum nulla omnis perferendis possimus quae quas quasi recusandae rem repellat repellendus reprehenderit similique tempora unde veniam veritatis?