section.accordion
    .accordion__inner
        .accordion__tabs
            .accordion__tab
                .accordion__heading
                    div.accordion__title Значение таба, длинный текст
                    +sprite('accordion__icon', 'img/sprites/sprite.svg#arrow')
                .accordion__content
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium alias aliquam distinctio dolores dolorum ducimus eaque eligendi eos illo incidunt, ipsa iure laudantium magni minima minus molestiae molestias necessitatibus, neque nesciunt nostrum nulla omnis perferendis possimus quae quas quasi recusandae rem repellat repellendus reprehenderit similique tempora unde veniam veritatis?
            .accordion__tab
                .accordion__heading
                    div.accordion__title Значение таба, длинный текст
                    +sprite('accordion__icon', 'img/sprites/sprite.svg#arrow')
                .accordion__content
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium alias aliquam distinctio dolores dolorum ducimus eaque eligendi eos illo incidunt, ipsa iure laudantium magni minima minus molestiae molestias necessitatibus, neque nesciunt nostrum nulla omnis perferendis possimus quae quas quasi recusandae rem repellat repellendus reprehenderit similique tempora unde veniam veritatis?
            .accordion__tab
                .accordion__heading
                    div.accordion__title Значение таба, длинный текст
                    +sprite('accordion__icon', 'img/sprites/sprite.svg#arrow')
                .accordion__content
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium alias aliquam distinctio dolores dolorum ducimus eaque eligendi eos illo incidunt, ipsa iure laudantium magni minima minus molestiae molestias necessitatibus, neque nesciunt nostrum nulla omnis perferendis possimus quae quas quasi recusandae rem repellat repellendus reprehenderit similique tempora unde veniam veritatis?
                    p Слушайте тренера, любите лошадей – и вам обязательно понравится кататься на лошадях.
            .accordion__tab
                .accordion__heading
                    div.accordion__title Значение таба, длинный текст
                    +sprite('accordion__icon', 'img/sprites/sprite.svg#arrow')
                .accordion__content
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium alias aliquam distinctio dolores dolorum ducimus eaque eligendi eos illo incidunt, ipsa iure laudantium magni minima minus molestiae molestias necessitatibus, neque nesciunt nostrum nulla omnis perferendis possimus quae quas quasi recusandae rem repellat repellendus reprehenderit similique tempora unde veniam veritatis?