.quiz#quiz
    .quiz-questions#questions
    .quiz-indicator#indicator 1/10
    .quiz-results#results
        .quiz-results-item
            .quiz-results-item__question Вопрос 1
            ul.quiz-results-item__answers
                    li Ответ 1
                    li Ответ 2
            .quiz-results-item__question Вопрос 2
            ul.quiz-results-item__answers
                    li Ответ 1
                    li Ответ 2
    .quiz-controls
        button.button__next Далее
        button.button__reset Сначала