.gallery
    .gallery__inner
        a.img(data-fancybox="gallery" href="img/img.webp")
            img(src="img/img.webp")
        a.img(data-fancybox="gallery" href="img/img.webp")
            img(src="img/img.webp")
        a.img(data-fancybox="gallery" href="img/img.webp")
            img(src="img/img.webp")

//.gallery
//    .gallery__inner
//        .img
//            img(src="img/img.webp")
//        .img
//            img(src="img/img.webp")
//        .img
//            img(src="img/img.webp")