.gallery
    .gallery__inner
        a(data-fancybox="gallery" href="img/img.webp")
            img(src="img/img.webp")
        a(data-fancybox="gallery" href="img/img.webp")
            img(src="img/img.webp")
        a(data-fancybox="gallery" href="img/img.webp")
            img(src="img/img.webp")