.gallery
    .gallery__inner
        a(data-fancybox='gallery' href='img/img.webp')
            img(data-src='img/img.webp' data-alt='Картинка')
        a(data-fancybox='gallery' href='img/img.webp')
            img(data-src='img/img.webp' data-alt='Картинка')
        a(data-fancybox='gallery' href='img/img.webp')
            img(data-src='img/img.webp' data-alt='Картинка')