extends layouts/default

block variables
    - const title = "Новый сайт"
    - const description = "Дескрипшен - это краткое описание сайта, страницы, которое выводится в поиске в виде сниппета под названием сайта. Очень важно как для доступности сайта, так и для стандартов поисковых систем"
    - const keywords = "ключевые, слова, можно словосочетаниями, короткими ёмкими фразами, нужно для поисковых систем, но едва ли, но пусть будет"

block header
    include ../blocks/modules/header/header

block content
    include ../blocks/modules/main/main

block footer
    include ../blocks/modules/footer/footer

block modal
    //include ../blocks/components/modal/modal

block scripts
    // script(type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js")
    // script(nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js")
    // script(src="js/vendor.js")
    script(src="js/main.js")