section.show-more
        .show-more__row.row
                .show-more__item
                    h4.show-more__title Блок "показать ещё" нужен для того, чтобы
                    button.show-more__button(type='button') Показать ещё
                    .show-more__content разместить на странице раскрывающиеся элементы, особенно если нужно, чтобы блок с текстом не занимал много места
                .show-more__item
                    h4.show-more__title Блок "показать ещё" нужен для того, чтобы
                    button.show-more__button(type='button') Показать ещё
                    .show-more__content
                        p разместить на странице раскрывающиеся элементы, особенно если нужно, чтобы блок с текстом не занимал много места