section.show-more
        .show-more__row.row
                .show-more__item
                    h4.show-more__title Заголовок "показать ещё", а для проверки длины вставим "Съешь ещё этих мягких французских булок, да выпей же чаю. "
                    button.show-more__button(type="button") Показать ещё
                    .show-more__content Съешь ещё этих мягких французских булок, да выпей же чаю. Съешь ещё этих мягких французских булок, да выпей же чаю. Съешь ещё этих мягких французских булок, да выпей же чаю. Съешь ещё этих мягких французских булок, да выпей же чаю.
                .show-more__item
                    h4.show-more__title Заголовок "показать ещё", а для проверки длины вставим "Съешь ещё этих мягких французских булок, да выпей же чаю. "
                    button.show-more__button(type="button") Показать ещё
                    .show-more__content
                        p Съешь ещё этих мягких французских булок, да выпей же чаю.