.modal
    .modal__inner
        .modal__content
            .modal__button--wrapper(data-close)
                button#modal__button.modal__button(type='button')
            p Content
            form
                input(type='text')
                input(type='email')
                button(type='submit') Отправить