.modal {
  display: none;

  &__inner {
    position: fixed;
    width: 100%;
    max-width: 500px;
    height: 100%;
    max-height: 500px;
    transform: translate(-50%, -50%);
    inset-block-start: 50%;
    inset-inline-start: 50%;
    background-color: #fff;
    box-shadow: 0 0 5px rgb(0 0 0 / 30%);
  }

  &__show {
    display: block;
    position: absolute;
    z-index: 100;
    inset-block-start: 0;
    inset-inline-start: 0;
    width: 100vw;
    height: 100%;
    background-color: $disabled;
    animation: modal-start 0.1s linear;
  }

  &__hide {
    display: none;
  }

  &__content {
    position: relative;
    margin-block: 20px;
    margin-inline: 20px;
  }

  &__button {
    position: relative;
    width: 100%;
    min-width: revert;
    height: 100%;
    min-height: revert;
    padding: revert;
    margin-block: revert;

    &:hover {
      background-color: transparent;
    }

    &::before {
      content: '';
      display: block;
      position: absolute;
      width: 2px;
      height: 18px;
      background-color: $base-color;
      inset-block-start: 0;
      inset-inline-start: 0;
      transform: translate(9px, 1px) rotate(-45deg);
    }

    &::after {
      content: '';
      display: block;
      position: absolute;
      width: 2px;
      height: 18px;
      background-color: $base-color;
      inset-block-start: 0;
      inset-inline-start: 0;
      transform: translate(9px, 1px) rotate(45deg);
    }

    &--wrapper {
      position: relative;
    }
  }
}

@keyframes modal-start {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

[data-close] {
  position: absolute;
  inset-block-start: 0;
  inset-inline-end: 0;
  width: 20px;
  height: 20px;

  &::before {
    display: block;
    position: absolute;
  }
}

@media screen and (max-width: 768px) {
  .modal {
    &__inner {
      max-width: 375px;
    }
  }
}

@media screen and (max-width: 375px) {
  .modal {
    &__inner {
      max-width: 280px;
    }
  }
}
