// ! Basic

@import 'img/img';
@import 'button/button';
@import 'form/form';
@import 'table/table';
@import 'burger/burger';

// ! Other

// @import 'tabs/tabs';
// @import 'dropdown/dropdown';
// @import 'modal/modal';
// @import 'gallery/gallery';
// @import 'flex-gallery/flex-gallery';
// @import 'slider/slider';
// @import 'vertical-slider/vertical-slider';
// @import 'accordion/accordion';
// @import 'show-more/show-more';
// @import 'tabs-tags/tabs-tags';
// @import 'dropdown-lang/dropdown-lang';
// @import 'breadcrumbs/breadcrumbs';
// @import 'quiz/quiz';
// @import 'circle/circle';
// @import 'container-beyond/container-beyond';
