.tabs
    .tabs-panel
        .tabs-panel__item.tabs-panel__item--active Day 1
        .tabs-panel__item Day 2
        .tabs-panel__item Day 3
        .tabs-panel__item Day 4
        .tabs-panel__item Day 5
    .tabs-content
        .tabs-content__item.tabs-content__item--active
            img(data-src='img/img.webp' data-alt='Картинка')
        .tabs-content__item
            h1 Текст
        .tabs-content__item
            ul
                li Текст
                li Текст
                li Текст
                li Текст
        .tabs-content__item
            blockquote Текст цитаты
        .tabs-content__item
            .row
                img(data-src='img/img.webp' data-alt='Картинка')
                img(data-src='img/img.webp' data-alt='Картинка')