.container-short
    .flex-gallery
        .flex-gallery__slide(style='background-image: url("https://images.unsplash.com/photo-1563804026626-f0225ec1817a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=736&q=80")')
            <h3>Czech</h3>
        .flex-gallery__slide(style='background-image: url("https://images.unsplash.com/photo-1541343672885-9be56236302a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80")')
            <h3>Hungary</h3>
        .flex-gallery__slide(style='background-image: url("https://images.unsplash.com/photo-1575659457724-aeb567c7af61?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80")')
            <h3>Latvia</h3>
        .flex-gallery__slide(style='background-image: url("https://images.unsplash.com/photo-1511255526921-46b4ede9833a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8cm9tYW5pYSUyMGNhc3RsZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=400&q=60")')
            <h3>Romania</h3>
        .flex-gallery__slide(style='background-image: url("https://images.unsplash.com/photo-1526154668476-dfe52ce0bfcc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80")')
            <h3>Estonia</h3>