.vertical-slider
    .container
        .vertical-slider__wrapper
            .vertical-slider__sidebar
                div(style='background: #03756f')
                    h1 Snow in the desert
                    p Love, death & robots
                div(style='background: #00081c;')
                    h1 Life Hutch
                    p Love, death & robots
                div(style='background: #597c9a;')
                    h1 Zima Blue
                    p Love, death & robots
                div(style='background: #a75781;')
                    h1 Customer Service
                    p Love, death & robots
            .vertical-slider__main-slide
                div(style='background-image: url(\'https://images.unsplash.com/photo-1444703686981-a3abbc4d4fe3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80\');')
                div(style='background-image: url(\'https://images.unsplash.com/photo-1468276311594-df7cb65d8df6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80\');')
                div(style='background-image: url(\'https://images.unsplash.com/photo-1444080748397-f442aa95c3e5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1332&q=80\');')
                div(style='background-image: url(\'https://images.unsplash.com/photo-1517411032315-54ef2cb783bb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fHN0YXJzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60\');')
            .vertical-slider__controls
                button.vertical-slider__down
                    <ion-icon name="chevron-down-outline"></ion-icon>
                button.vertical-slider__up
                    <ion-icon name="chevron-up-outline"></ion-icon>