*, *:before, *:after {
  box-sizing: border-box;
}

html {
  position: relative;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: clamp(0.7rem, 8vw - 2rem, 1rem);
  line-height: 24px;
  font-weight: 500;
  letter-spacing: 0.1rem;
  color: $base-color;
  background-color: #fff;
  scroll-behavior: smooth;
}

::selection {
   background: rgba(189, 189, 189, 0.54);
 }

h1, h2, h3, h4, h5, h6 {
  margin-block-start: $ind;
  margin-block-end: $ind;
  letter-spacing: normal;
}

h1 {
  font-size: revert;
}

h2 {
  font-size: revert;
}

h3 {
  font-size: revert;
}

h4 {
  font-size: revert;
}

h5 {
  font-size: revert;
}

h6 {
  font-size: revert;
}

p {
  margin-block-start: $ind;
  margin-block-end: $ind;
}

ul {
  margin-block-start: $ind;
  margin-block-end: $ind;
  padding-inline-start: $ind;
}

li {
  list-style: none;

  &:before {
    display: inline-block;
    content: "";
    position: relative;
    left: -10px;
    top: -3px;
    height: 3px;
    width: 3px;
    background-color: $base-color;
    border-radius: 100%;
  }
}

a {
  text-decoration: none;
  color: inherit;
  border-bottom: $border;
  transition: color $transition;

  :visited {
    color: rgba(51, 51, 51, 0.66);
  }

  &:hover {
    color: $accent-color;
  }
}

blockquote {
  margin-block-start: $ind;
  margin-block-end: $ind;
  margin-inline: 0;
}

.disabled {
  pointer-events: none;
  color: $disabled;
}

section, aside {
  display: block;
  margin-block-start: $ind;
}

.container, .layout {
  margin: 0 auto;
}

.container {
  display: grid;
  grid-template-rows: 80px minmax(75vh, 1fr) 80px;
  grid-template-columns: minmax(250px, $container);
  justify-content: center;
  gap: $ind;
}

.layout {
  display: grid;
  grid-template-rows: 80px minmax(75vh, 1fr) 80px;
  gap: $ind;
  margin-inline: $layout-margin;

  &-none {
    margin-inline: -$layout-margin;
  }
}

.row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: $ind;
}

.content {
  display: grid;
  grid-template-columns: minmax(200px, 1fr);
  gap: $ind;
}

.content-sidebar {
  display: grid;
  grid-template-columns: minmax(350px, auto) 1fr;
  gap: 0 $gap;

  .content {
    margin-inline-end: $ind;
  }
}

.sidebar {
  position: relative;
  height: 100%;
  background-color: $disabled;

  &__inner {
    position: sticky;
    inset-block-start: 0;
    padding: $ind;
  }
}

@media screen and (max-width: 1300px) {
  .container {
    padding: 0 $ind;
  }

  .layout {
    margin-inline: 2vw;

    &-none {
      margin-inline: -2vw;
    }
  }
}

@media screen and (max-width: 768px) {
  .content-sidebar {
    grid-template-columns: 1fr;

    .content {
      margin-inline: $ind;
    }
  }
}

@media screen and (max-width: 375px) {
  .layout, .row {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}

// Стиль страницы 404

.not-available {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  h1, h2 {
    text-align: center;
    font-weight: 100;
  }
}